@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap);
section.sign-me-block {
    padding: 87px 0 75px;
    background-position: top;
}
section.sign-me-block h3 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 11px;
}
section.sign-me-block .subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
}
section.sign-me-block .form-holder {
    width: 100%;
    margin-top: 26px;
}
section.sign-me-block .form-holder form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
section.sign-me-block .form-holder form .hs-error-msgs {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 16px;
}
section.sign-me-block .form-holder form .hs-error-msgs li {
    list-style-type: none;
}
section.sign-me-block .form-holder form input {
    width: 100%;
    height: 46px;
    border-radius: 0;
    font-size: 13px;
    font-family: Montserrat, sans-serif;
    border: 0;
}
section.sign-me-block .form-holder form input:not([type="submit"]) {
    padding: 0 18px;
    min-width: 498px;
}
section.sign-me-block .form-holder form input[type="submit"] {
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 5px 23px;
    text-align: center;
    text-transform: uppercase !important;
    display: inline-block;
    border: 2px solid #ed9c21;
    background-image: none;
    background-color: #ed9c21;
    border-radius: 0;
    margin: 0 !important;
    -webkit-transition: background-color 0.15s, color 0.15s;
    -o-transition: background-color 0.15s, color 0.15s;
    transition: background-color 0.15s, color 0.15s;
}
section.sign-me-block .form-holder form input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #ed9c21;
}
.hs-dependent-field p {
    color: #fff;
}
/*Media Query*/
@media (max-width: 992px) {
    section.sign-me-block .form-holder form input[type="submit"] {
        padding: 11px 15px;
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    section.sign-me-block .form-holder form input[type="submit"] {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    section.sign-me-block {
        padding: 100px 0 80px;
    }
}
@media (max-width: 576px) {
    section.sign-me-block {
        padding: 80px 0 60px;
    }
}
@media (max-width: 768px) {
    section.sign-me-block .subtitle {
        font-size: 14px;
    }
}
@media (max-width: 576px) {
    section.sign-me-block .subtitle {
        font-size: 14px;
    }
}
@media (max-width: 576px) {
    section.sign-me-block .form-holder {
        margin-top: 20px;
    }
}
@media (max-width: 576px) {
    section.sign-me-block .form-holder form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
@media (max-width: 576px) {
    section.sign-me-block .form-holder form .hs-error-msgs {
        margin: 8px 0;
    }
}
@media (max-width: 576px) {
    section.sign-me-block .form-holder form input:not([type="submit"]) {
        min-width: 0;
    }
}